# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Pytest cache
.pytest_cache/

# VSCode settings (if using VSCode)
.vscode/

# Packages and dependencies
*.egg-info/
dist/
build/
*.egg

# Logs
*.log

# IDE specific files
.idea/
